* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .restaurant-detail {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
  }

  .header {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
  }

  .header-info {
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  margin-top: 8px;
}
  
  .restaurant-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
  }
  
  .details {
  position: relative; /* 찜 버튼의 절대 위치를 위한 상대 포지셔닝 */
  flex: 1;
  display: flex;
  flex-direction: column; /* 텍스트 수직 정렬 */
  align-items: flex-start; /* 텍스트 왼쪽 정렬 */
}

  h1 {
    font-size: 1.5em;
    color: #2c3e50;
  }
  
  .map-link {
    color: #3498db;
    text-decoration: none;
    font-size: 0.9em;
    margin-bottom: 10px;
  }
  
  .map-link:hover {
    text-decoration: underline;
  }

  .header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
  }
  
  .favorite-button {
    position: absolute;
    top: 0; 
    right: 0; 
    background: none;
    border: none;
    cursor: pointer;
  }

  .favorite-button img {
    width: 24px;
    height: 24px;
  }

  .info {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    font-size: 0.9em;
    color: #7f8c8d;
  }
  
  .review-list {
    margin: 20px 0;
  }

  .review-item {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }

  .review-text {
    font-size: 0.9em;
  }

  .review-rating {
    font-size: 0.9em;
    color: #f39c12;
  }

  .review-section {
    margin-top: 20px;
  }
  
  .review-section h2 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
  }
  
  .rating-input {
    margin: 10px 0;
    display: flex;
  }
  
  #star-rating img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .submit-review-button {
    background-color: #e67e22;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    float: right;
    transition: background-color 0.3s ease;
  }
  
  .submit-review-button:hover {
    background-color: #d35400;
  }
  
  .login {
    text-decoration: none;
  }