body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container, .restaurant-detail {
  width: 100%;
  max-width: 420px; 
  margin: auto;
  padding: 20px; 
  box-sizing: border-box;
  height: auto;
  background-color: white;
}
  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  .logo-container {
    flex: 1;
    text-align: center;
    margin-left: 35px;
  }
  
  .logo {
    width:110px;
    height:20px;
    background-color: #ffa500;
  }

  .search-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  
  .recommendation {
    background-color: #ffa500;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .recommendation h2 {
    color: #fff;
    margin: 0;
    font-size: 1.1rem;
  }
 
  .restaurant-list {
    height: 83vh;
    overflow-y: scroll; 
    padding: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
} 

.restaurant-item a {
  display: block;  
  text-decoration: none;  
  color: inherit;  
}

.restaurant-image {
  flex: 1;
  max-width: 50%; 
  margin-right: 15px;
}

.restaurant-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  cursor: pointer;
}

.restaurant-icon {
  width: 150px;
  height: 130px;
  border-radius: 10%; 
  object-fit: cover;
  float: left; 
}

.restaurant-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.restaurant-content h3 {
  margin-top: 10px;
  font-size: 17px; 
  font-weight: bold;
}

.restaurant-content p {
  margin: 5px 0 10px;
  color: #666;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis; 
  font-size: 13px;
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 10px; 
  font-size: 14px;
}

.star-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.like-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
} 

.like-button {
  background: none;
  border: none;
  cursor: pointer;
}

.heart-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.menu-container {
  position: relative;
  display: inline-block;
}

.menu-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 30px; 
  right: 0; 
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  min-width: 120px; 
}

.dropdown-item {
  border: none;
  background: none;
  display: block;
  padding: 8px 12px;
  cursor: pointer;
  color: #333;
  text-align: left;
}

.dropdown-item a {
 text-decoration: none;
 color: #333;
}

.restaurant-list::-webkit-scrollbar, .half::-webkit-scrollbar {
  width: 8px;
}

.restaurant-list::-webkit-scrollbar-thumb, .half::-webkit-scrollbar-thumb {
  background-color: #ffcd70;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.location-toggle-container {
  display: flex;
  align-items: center;
  position: relative;
}

.toggle-icon {
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-left: 5px;
}

#locationDropdownMenu {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  z-index: 2;
}

#location-toggle {
  font-size: 17px;
  color: #333;
  cursor: pointer;
  background: none; 
  border: none; 
  padding: 0; 
  margin-right: 10px;
  white-space: nowrap; 
  letter-spacing: normal; 
}

.styled-select {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  text-align: left;
  position: relative; left:250px;
}

.styled-select:hover {
  background-color: #f0f0f0;
  border-color: #ccc;
}

.location-menu {
  display: flex;
  justify-content: center; 
  position: relative;
  top: 10px; 
  right: 99px;
  z-index: 0;
}

.location-button {
  background-color: #f9f9f9;
  color: #000; 
  border: none;
  border-radius: 5px 5px 0 0; 
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.location-button.active {
  background-color: orange;
}

/* 스타일링 select 요소 */
.styled-select {
  padding: 8px 15px; 
  font-size: 13px; 
  color: #333;
  background-color: #fff; 
  border-radius: 8px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
}


