{% block content %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/png" href="/images/cook.png">
    <title>회원가입</title>
    <link rel="stylesheet" href="join.css">
</head>
<body>
    <div class="join-container">
        <!-- 뒤로가기 버튼 추가 -->
        <div class="back-button-container">
            <a href="/">
                <img src="/images/arrow.png" class="back-button" alt="뒤로가기">
            </a>
        </div>
        <h2>회원가입</h2>
        <form id="join-form" action="/auth/join" method="post">
            <input type="email" id="join-email" name="email" placeholder="이메일" required>
            <input type="text" id="join-nick" name="nick" placeholder="닉네임" required>
            <input type="password" id="join-password" name="password" placeholder="비밀번호" required>
            <button type="submit" class="btn">회원가입</button>
        </form>
        <p>이미 계정이 있으신가요? <a href="login">로그인</a></p>
    </div>
    {% block script %}
  <script>
    window.onload = () => {
      const error = new URL(location.href).searchParams.get('error');
      
      if (error === 'exist') {
        alert('이미 존재하는 이메일입니다.');
      }
      if (error === 'null') {
        alert('모든 입력값은 필수입니다.');
      }
    };
  </script>
{% endblock %}
</body>
</html>
{% endblock %}

