<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login-container">
        <div class="back-button-container">
            <a href="index.html">
                <img src="../images/arrow.png" class="back-button" alt="뒤로가기">
            </a>
        </div>
        <h2>로그인</h2>
        <form action="/auth/login" method="post">
            <div class="input-group">
                <label for="email">이메일</label>
                <input type="text" id="email" name="email" placeholder="아이디" required>
            </div>
            <div class="input-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" placeholder="비밀번호" required>
            </div>
            <button type="submit">로그인</button>
            <p>계정이 없으신가요? <a href="join">회원가입</a></p>
        </form>
    </div>
</body>
</html>
