<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>   
</head>
<body>
    <div class="restaurant">
      {% if restaurants %}
        {% for res in restaurants %}
          <div>
            <a href="/restaurant/{{res.id}}">
              {{res.name}}<br>
              {{res.description}}
            </a>
          </div>
        {% endfor %}
      {% endif %}
    </div>
</body>
</html>